<% filter = DashCreator::Filter.find(stat['id']) %>

<div class="col-md-<%= stat['size'] %> offset-md-<%= stat['offset'] %>" style="margin-bottom: 50px;">
  <div class="stat-wrapper text-center" data-id="<%= stat['id'] %>" style="padding: 20px; background-color: #a6d5ec; border-radius: 5px;">

    <h3><%= filter.name %></h3><br>

    <% filter.options.keys.each do |k| %>
        <strong class="filter-count" data-key="<%= k %>"></strong><br>
    <% end %>

    <div class="refresh-container" style="margin-top: 30px;">
      <span id="last-updated"></span>
      <button id="stat-refresh-btn">Refresh</button>
    </div>

    <script>
      var params = {
          filter_id: '<%= stat['id'] %>'
      };
      $.post('<%= create_stat_path %>', params);
    </script>
  </div>
</div>