<% unless mods.nil? %>
  <% mods.each do |model, objects| %>
    <% next if objects.nil? || objects.empty? %>

    <% model_attributes = objects.first.class.columns_hash %>

    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center"><%= model %></h3><br>

        <div>
          <a href="" target="_blank" class="btn btn-primary csv-download" data-model="<%= model %>" data-turbolinks="false">Download CSV</a>
        </div>

      </div>
      <div class="col-md-2">
        <% model_attributes.each do |attribute, value| %>
            <% if @starting_types.include?(value.type.to_s) %>
                <input type="checkbox" name="<%= model %>" value="<%= attribute %>" checked="checked">

            <% else %>
                <input type="checkbox" name="<%= model %>" value="<%= attribute %>">

            <% end %>

            <label><%= attribute.humanize %></label><br>
        <% end %>
      </div>
      <div class="offset-md-2 col-md-8">
        <table class="table table-hover table-outline mb-0 hidden-sm-down" name="<%= model %>">
          <thead class="thead-default">
          <tr>
            <% model_attributes.each do |attribute, value| %>
                <th class="text-center" value="<%= attribute %>"><%= attribute.humanize %></th>
            <% end %>
          </tr>
          </thead>

          <tbody>
          <% objects.each do |object| %>
              <tr>
                <% object.attributes.each do |key, value| %>
                    <td value="<%= key %>"><%= value %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if mods.length > 1 %>
        <hr><br>
    <% end %>
  <% end %>
<% end %>