<button class="pull-right btn" id="chart-refresh-btn">Refresh</button>
<span class="pull-right" id="last-updated"></span>
<canvas id="chart-<%= id %>" style="display: block; align-items: stretch;"></canvas>

<script>
    var options = <%= raw options.to_json %>;

    <% if type == 'mixed' %>
    var labeling_step = options.scales.xAxes[0].ticks["callback"];
    if (typeof labeling_step === "undefined")
        labeling_step = 1;
    options.scales.xAxes[0].ticks["callback"] = function(dataLabel, index) {
        return index % labeling_step === 0 ? dataLabel : null;
    };

    <% else %>
    options.tooltips["callbacks"] = {
        label: function(tooltipItem, data) {
            var dataset = data.datasets[tooltipItem.datasetIndex];

            var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                return previousValue + currentValue;
            });

            var currentValue = dataset.data[tooltipItem.index];

            var percentage = Math.floor(((currentValue/total) * 100) + 0.5);

            var label = " " + currentValue + " - " + percentage  + "%";

            return label;
        }
    };

    <% end %>

    var canvas = document.getElementById("chart-<%= id %>");
    canvas.width = "80%"; canvas.height = "80%";
    var ctx = canvas.getContext("2d");
    chart_<%= id.to_s.underscore %> = new Chart(ctx, {
        type: "<%= type == 'mixed' ? 'bar' : type %>",
        data: <%= raw data.to_json %>,
        options: options
    });
</script>